<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link href="css/reset.css" rel="stylesheet" type="text/css" />
	<link href="css/index.css" rel="stylesheet" type="text/css" />
	<script src="js/ajax.js" type="text/javascript"></script>
	<script src="js/lyrics-box.js" type="text/javascript"></script>
	<script src="js/index.js" type="text/javascript"></script>
	<title>豆瓣LRC</title>
</head>
<body>
	<div class="wrap" id="wrap">
		<div class="header">
			<div class="header-wrap">
				<div class="logo"></div>
			</div>
		</div>
		<div class="banner">
			<div class="center">
				<div class="main">
					<div class="main-wrap">
						<div class="song-info hidden" id="song-info">
							<div class="image" id="image-backgroud">
								<div class="image-wrap hidden" id="image-wrap"><img id="image" src=""></div>
								<div class="download"></div>
							</div>
							<h1 class="title"><a id="title" href="#" target="_blank">&zwnj;</a></h1>
							<p><span class="artist"><a id="artist" href="#" target="_blank">&zwnj;</a></span></p>
							<p><span class="album">＜<a id="album" href="#" target="_blank">&zwnj;</a>＞</span><span class="year" id="year">&zwnj;</span></p>
						</div>
						<div class="share hidden" id="share">
							<a class="share-fold" id="share-fold" href="#" title="收起">></a>
							<h3>分享歌词：</h3>
							<p><!--
								--><a class="share-weibo" id="share-weibo" href="#" title="分享到新浪微博">█</a><!--
								--><a class="share-renren" id="share-renren" href="#" title="分享到人人网">█</a><!--
								--><a class="share-douban" id="share-douban" href="#" title="分享到豆瓣">█</a><!--
								--><a class="share-clipboard" id="share-clipboard" href="#" title="复制到剪贴板">█</a><!--
							--></p>
						</div>
					</div>
				</div>
				<div class="lyrics" id="lyrics">
					<div class="lyrics-wrap">
						<div class="lyrics-slide" id="lyrics-slide">
							<div class="lyrics-slide-wrap">
								<p class="notice hidden" id="notice">未找到对应的歌词</p>
								<ul id="lyric-list"><!--
									<li>欢笑声 欢呼声</li>
									<li>炒热气氛 心却很冷</li>
									<li>聚光灯 是种蒙恩</li>
									<li>我却不能 喊等一等</li>
									<li class="blank"></li>
									<li>我真佩服我 还能幽默</li>
									<li>掉眼泪时用笑掩过 怕人看破 顾虑好多</li>
									<li>不谈寂寞 我们就都快活</li>
									<li class="blank"></li>
									<li>我不唱声嘶力竭的情歌</li>
									<li>不表示没有心碎的时刻</li>
									<li class="highlight">我不曾摊开伤口任宰割 愈合就无人晓得</li>
									<li>我内心挫折</li>
									<li>活像个孤独患者 自我拉扯</li>
									<li>外向的孤独患者 有何不可</li>
									<li class="blank"></li>
									<li>笑越大声 越是残忍</li>
									<li>挤满体温 室温更冷</li>
									<li>万一关灯 空虚扰人</li>
									<li>我却不能 喊等一等</li>
									<li class="blank"></li>
									<li>你说你爱我 却一直说</li>
									<li>说我不该窝在角落 策划逃脱 这也有错</li>
									<li>连我脆弱 的权利都掠夺</li>
									<li class="blank"></li>
									<li>我不唱声嘶力竭的情歌</li>
									<li>不表示没有心碎的时刻</li>
									<li>我不曾摊开伤口任宰割 愈合就无人晓得</li>
									<li>我内心挫折</li>
									<li>活像个孤独患者 自我拉扯</li>
									<li>外向的孤独患者 有何不可</li>
									<li class="blank"></li>
									<li>我不要声嘶力竭的情歌</li>
									<li>来提示我需要你的时刻</li>
									<li>表面镇定并不是保护色 反而是要你懂得</li>
									<li>我不知为何</li>
									<li>活像个孤独患者 自我拉扯</li>
									<li>外向的孤独患者 需要认可</li>-->
								</ul>
								<div class="select-area hidden" id="select-area"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<iframe class="hidden" src="http://douban.fm/misc/bubbler_client#<%= domainName %>" width="0" height="0" frameborder="0"></iframe>
</body>
</html>